@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200&display=swap');
@import "tailwindcss";
@plugin "daisyui";


html {
    font-family: 'Sarabun', sans-serif;
    scroll-behavior: smooth;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
